[Unit]
Description=IRMA onAir Web ASP.NET Core 5.0 App

[Service]
WorkingDirectory=/var/dotnetwww/irmaonair_web
ExecStart=/usr/bin/dotnet /var/dotnetwww/irmaonair_web/IrmaWeb.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-ioa
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
