<!DOCTYPE html>
<html lang="en">
<head>
    <title>IRMA onAir Web</title>
    <meta charset="utf-8">
    <meta name="description" content="IRMA onAir Web - Graphical Interface for the APC REST API">
    <meta name="keywords" content="iris,web,rest,api,apc,matrix,data">
    <meta name="author" content="iris-GmbH">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="~/Scripts/custom/pre-initial.min.js"></script>

    <script src="~/Lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Lib/moment/min/moment.min.js"></script>
    <script src="~/Lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Lib/js-cookie/src/js.cookie.js"></script>

    <link rel="stylesheet" href="~/Lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Lib/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Lib/fullcalendar/dist/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/Lib/multiselect/css/multi-select.css" />
    <link rel="stylesheet" href="~/Lib/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="~/Lib/bootstrap-select/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/Lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/Theme/css/style-login.css" />
    <link rel="stylesheet" href="~/Content/Theme/css/style-button.css" />

    <script src="~/Lib/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Lib/fullcalendar/dist/locale-all.js"></script>
    <script src="~/Scripts/blobjs/FileSaver.min.js"></script>
    <script src="~/Scripts/blobjs/blob.min.js"></script>
    <script src="~/Lib/multiselect/js/jquery.multi-select.js"></script>
    <script src="~/Lib/jquery.quicksearch/dist/jquery.quicksearch.min.js"></script>
    <script src="~/Lib/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

    <script src="~/Lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/Scripts/local/jquery.i18n.fallbacks.min.js"></script>
    <script src="~/Scripts/local/jquery.i18n.min.js"></script>
    <script src="~/Scripts/local/jquery.i18n.language.min.js"></script>
    <script src="~/Scripts/local/jquery.i18n.messagestore.min.js"></script>
    <script src="~/Scripts/local/jquery.i18n.parser.min.js"></script>

@if (IrmaWeb.Models.RuntimeSettings.YamiStatic.Settings.Debug)
{
    <!-- Debug Mode -->
    <script src="~/Scripts/custom/initial.js"></script>
    <script src="~/Scripts/custom/debug.js"></script>
}
else
{
    <!-- Productive Mode -->
    <script src="~/Scripts/custom/initial.min.js"></script>
}

</head>
<body>

    <!-- Loading screen overlay (showed before jQuery)-->
    <div id="overlay">
        <noscript>
            <div class="js-disabled">
                Disabled JavaScript detected!
                IRMA onAir Web requires enabled JavaScript!
            </div>
        </noscript>
        <div id="progstat"></div>
        <div id="progress"></div>
    </div>

    <div class="main-background">
        <!-- Main -->
        <div id="mainContainer" class='main col-lg-12'>

            <div>
                <!--class="col-xs-12"-->
                <div class="col-lg-4 col-md-5 col-sm-8 col-xs-8 header-padding">
                    <img class="onair-logo" src="~/Content/Theme/Logo_onAir_white.png" />
                    <select id="langSelect" class="selectpicker form-login-extend form-control language span3" data-style="btn-ioa" data-width="auto">
                        <option value="en" data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                        <option value="de" data-content='<span class="flag-icon flag-icon-de"></span> Deutsch'>Deutsch</option>
                        <option value="pl" data-content='<span class="flag-icon flag-icon-pl"></span> Polski'>Polski</option>
                        <option value="ru" data-content='<span class="flag-icon flag-icon-ru"></span> Pусский'>Pусский</option>
                        <option value="es" data-content='<span class="flag-icon flag-icon-es"></span> Español'>Español</option>
                    </select>
                </div>
                <div id="header-meta" class="info-header col-lg-8 col-md-7 col-sm-4 col-xs-12 hidden">

                    <div class="greeting-style hidden-sm hidden-xs">
                        <span data-i18n="$mainapp_welcome" id="headerInfoMessage" class="headerInfo"></span>
                        <span id="headerInfoName" class="headerInfo"></span>
                    </div>

                    <div>
                        <button type="button" id="accountButton" class="btn btn-ioa" data-i18n="$mainapp_accountButton" data-target="#mainModal"></button>
                        <a href="~/Home/Logout" type="button" id="logoutButton" class="btn btn-load" data-i18n="$mainapp_logoutButton"></a>
                    </div>

                </div>
            </div>

            <div id="mainBody" class="col-xs-12">
                @RenderBody()
            </div>

        </div>
    </div>

    <!-- Generic Modal Dialog -->
    <div class="modal fade" id="mainModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="modalHeader" class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="modalTitle" class="modal-title"></h4>
                </div>
                <div id="modalBody" class="modal-body"></div>
            </div>
        </div>
    </div>

    <!-- Custom Small Login Modal -->
    <div id="loginModal" class='modal-small'>
        <div class="modal-small-center">
            <img src="~/Content/Theme/spinning-circle.svg">
            <p id="connectString" data-i18n="$login_connect"></p>
        </div>
    </div>

    <!-- Custom Small Login Modal Error -->
    <div id="loginModalFailed" class='modal-small'>
        <div class="modal-small-center">
            <img src="~/Content/Theme/rings.svg">
            <p id="connectFailedString"></p>
            <p id="connectFailedCodeString"></p>
            <button id="loginFailedButton" type="button" data-i18n="$login_failed_buttontext" class="btn btn-ioa btn-block"></button>
        </div>
    </div>

</body>
</html>